body
    font-size: 16px
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
    header
        background: #000   
        .opciones
            padding: 25px 0
            .logo
                p
                  color: #66c8b1
                  font-size: 32px
                  font-weight: 700
            .nave
                 text-align: right
                 line-height: 50px
                 a
                     color: #fff
                     margin-left: 60px
                     font-size: 18px
    main
        background: url(../img/fondo.jpeg)
        background-size: cover
        background-repeat: no-repeat
        background-position: center 0
        .container
            .row
                display: flex
                justify-content: center
                .contenedor-tarjeta
                    margin: 200px 0 
                    background: #000
                    color: #fff
                    .row
                        .contenedor-imagen
                            margin-top: -175px
                            display: flex
                            justify-content: center
                            
                            .contorno
                                border: solid   35px rgba(50,100,90,2)
                                border-radius: 50%
                                padding: 0 0
                                img
                                    width: 300px
                                    border-radius: 50%
                                    border: solid   10px #66c8b1
                                    margin: 0 
                    .row
                         .contenedor-titulo
                            padding: 20px 0
                            text-align: center 
                    .row
                        .contenedor-redes-sociales
                            




    
                        
                            

                

                    



        
                   

              

    