*{
    box-sizing: border-box;
}

body{
    background: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*------header---------*/

header{
    background: #000000;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

header .contenedor .contenedor-logo{
    display: flex;
    align-items: center;
    align-content: center;
    
}

header .contenedor .contenedor-logo .logo p{
    font-family: 'Martian Mono', monospace;
    font-weight: 700;
    font-size: 24px;
    color: #34c6a1;

}


header .contenedor .contenedor-menu{
    display: flex;
    align-items: center;
    align-content: center;
}

header .contenedor .contenedor-menu .menu a{
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    border: 2px solid transparent;
    padding-bottom: 6px;
    margin-left: 20px;

    
}

header .contenedor .contenedor-menu .menu a:hover{
    border-bottom: 2px solid #34c6a1;
}


/* ---------------- main----------------- */

.home .contenedor{
    height: 600px;
    
}

.home .contenedor .contenedor-tarjeta{
    height: 400px;
    background: #1e1e1e;
    width: 345px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    border-radius: 10px;
}

.home .contenedor .contenedor-tarjeta .imagen{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: -152px;
    border: 30px solid rgba(52, 198, 161,30%);

}

.home .contenedor .contenedor-tarjeta .imagen img{
    
    margin: 0;
    border-radius: 100%;
    border : 10px solid #34c6a1

    
}


.home .contenedor .contenedor-tarjeta  .titulo h1,h2{
    text-align: center;
}

.home .contenedor .contenedor-tarjeta  .redes-sociales{
    margin: 15px 0;
    display: flex;
    justify-content: center;
        
}

.home .contenedor .contenedor-tarjeta  .redes-sociales a{
    color: #ffffff;
    font-size: 26px;
    display: block;
    border-radius: 10px;
    width: 50px;  
    text-align: center;
    margin: 0 10px;
    padding: 10px;

}

.home .contenedor .contenedor-tarjeta  .redes-sociales .facebook:hover{
    background: #1877f2;
    border: 1px solid transparent;
}
.home .contenedor .contenedor-tarjeta  .redes-sociales .instagram:hover{
    background: #405de6;
}
.home .contenedor .contenedor-tarjeta  .redes-sociales .linkedin:hover{
    background: #0077b5;
}

.sobre-mi{
    margin-top: 40px;
    
    padding: 20px;
}

.sobre-mi .contenedor .presentacion{
    text-align: center;
}

.sobre-mi .contenedor .presentacion h3{
    text-align: center;
    font-size: 20px;
}

.sobre-mi .contenedor .presentacion i{
    font-size: 40px;
}

.sobre-mi .contenedor .contenedor-detalle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 40px;
}

.sobre-mi .contenedor .contenedor-detalle .detalle-personal{
    display: flex;
}
.sobre-mi .contenedor .contenedor-detalle .detalle-personal .rta{
    margin-top: 46px;
    margin-left: 25px;
}

.sobre-mi .contenedor .contenedor-detalle .detalle-personal .rta p .verde{
    background-color: #34c6a1;
    padding: 0 10px;
    border-radius: 40px;
}

.sobre-mi .contenedor .contenedor-detalle .detalle-personal .prg p{
    color: #34c6a1;
}

.sobre-mi .contenedor .contenedor-detalle .mis-intereses .cont .contenedor-iconos{
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
flex-wrap: wrap;
}

.sobre-mi .contenedor .contenedor-detalle .mis-intereses .cont .contenedor-iconos i {
font-size: 32px;
text-align: center;
margin-top: 20px;

}
.linea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.sobre-mi .contenedor .boton{
    text-align: center;
    margin-top: 40px;
}

.sobre-mi .contenedor .boton button{
    border-radius: 15px;
    padding: 5px 10px;
}

.sobre-mi .contenedor .boton button:hover{
    background: #34c6a1;
    color: white;
}

.sobre-mi .contenedor .contenedor-detalle .detalle-personal, .mis-intereses{
    width: 50%;
}

.skill .contenedor .skill{
    display: flex;
    flex-direction: row;
}

.skill .contenedor .skill .columna-1, .columna-2{
    width: 50%;
    margin:10px 10px;
}
